body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.widget {
    position: absolute;
    box-shadow: 5px 8px 44px black;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background-color: #F7F9FA;
    height: 590px;
    width: 375px;
}

.widget-title {
    background-color: #2A3B60;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: flex;
    padding: 0 50px;
    height: 60px;
}

.widget-contact {
    justify-content: center;
    height: 35px;
    width: 120px;
    display: flex;
    border-radius: 17.5px;
    align-items: center;
}

.widget-faq {
    justify-content: center;
    height: 35px;
    width: 120px;
    display: flex;
    border-radius: 17.5px;
    align-items: center;
}

.widget-title--selected {
    background-color: rgba(7,29,49,0.7);
}

.widget-content {
    padding: 15px;
}

.widget-history {
    height: 54px;
    padding-left: 10px;
    width: 343px;
    border: 1px solid #E1E4E9;
    background-color: #FFFFFF;
}

.widget-order {
    margin: 12px 0 0;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    display: flex;
}

.widget-order:hover {
    cursor: pointer;
}

.container-option {
    box-sizing: border-box;
    padding-left: 15px;
}

.widget-order i {
    font-size: 75px;
}

.text {
    color: #96A0B4;
    font-size: 15px;
    width: 78%;
    margin: 0;
}

.title {
    margin: 0;
    font-size: 18px;
    color: #2F85D7;
}

.widget-info {
    color: #96A0B4;
    font-size: 16px;
    text-align: center;
    padding: 0 auto;
}

input {
    outline: none;
    padding-left: 15px;
    height: 51px;
    width: 343px;
    border: 1px solid #96A0B4;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.poweredMano {
    color: rgba(150,160,180,0.8);
    font-size: 12px;
    text-align: center;
}

.container-faq {
    display: none;
}

.faq-title {
    color: #30436B;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.faq-questions {
    padding: 0 0 0 20px;
}

.faq-question {
    color: #FBB714;
    padding: 5px 0;
}

.faq-question span {
    color: #30436B;
}

.help-link {
    color: #2F85D7;
    text-align: center;
}